# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later

installed-tests/js/jasmine.js
installed-tests/js/modules/badOverrides/WarnLib.js
# Until ESLint merges class fields.
modules/core/_text.js
modules/script/jsUnit.js
